name: Jellyfin Server
version: 1.1.2
slug: jellyfinserver
description: Jellyfin Server add-on
url: https://github.com/Rafal85/ha-addon-jellyfin
webui: http://[HOST]:[PORT:8096]
arch:
  - aarch64
  - armv7
  - amd64
init: false
map:
  - config:rw
  - share:rw
  - media:rw
  - ssl
video: true
watchdog: http://[HOST]:8096/health
ports:
  8096/tcp: 8096
  8920/tcp: null
  1900/tcp: 1900
  1900/udp: 1900
ports_description:
  8096/tcp: Jellyfin web and media port
  8920/tcp: Jellyfin TLS port, must be configured in the server first
  1900/tcp: dlna upnp
  1900/udp: UDP dlna
image: ghcr.io/mdvorak/jellyfin-server-{arch}
